:root {
  /*berfngsi membuat var di css*/
  --primary: rgba(255, 69, 0, 1);
  --secondary: rgba(255, 0, 0, 1);
  --bg: rgba(255, 215, 0, 1);
  --sub: rgba(51, 51, 51, 1);
  --text: rgba(255, 255, 240, 1);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Poppins", sans-serif;
  background-color: var(--bg);
  color: black;
}

/*NAVBAR*/
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.2rem 7%; /* 1 rem = 16px*/
  background-color: rgba(51, 51, 51, 0.9);
  border-bottom: 1px solid rgba(51, 51, 51, 1);
  position: fixed; /*agar navbar tidak berpindah posisi*/
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999; /*agar tidak tertimpa yang lain*/
}
.navbar .navbar-logo {
  font-size: 2rem;
  font-weight: bold;
  color: var(--text);
}
.navbar .navbar-logo span {
  color: var(--primary);
}

.navbar .navbar-nav a {
  color: var(--text);
  display: inline-block;
  font-size: 1rem;
  margin: 0.5rem;
  padding: 1.4rem;
}
.navbar .navbar-nav a:hover {
  font-weight: bold;
  color: var(--primary);
  transform: scale(1.1);
  transition: 0.3s;
}
.navbar .navbar-nav a::after {
  content: "";
  display: block;
  padding-bottom: 0;
  border-bottom: 0.2rem solid var(--primary);
  transform: scaleX(0); /*nilai 0 agar tidak tampil terlebih dahulu*/
}
.navbar .navbar-nav a:hover::after {
  transform: scaleX(0.5);
  transition: 0.7s linear;
}


.navbar .navbar-extra a {
  color: var(--text);
  margin: 0 0.5rem;
}
.navbar .navbar-extra a:hover {
  color: var(--primary);
  transition: 0.9s;
}
#ham-menu {
  display: none;
}

/*Navbar Search*/
.navbar .search-form {
  position: absolute;
  top: 100%;
  right: 7%;
  background-color: var(--sub);
  padding: 0.5rem;
  height: 3.4rem;
  width: 30rem;
  display: flex;
  align-items: center;
  /*animasi set search*/
  transform: scaleY(0); /*no scale Y*/
  transform-origin: top; /*animasi origin top, untuk posisi dimulai dari atas*/
}

.navbar .search-form.active {
  transform: scaleY(1);
}

.navbar .search-form input {
  height: 100%;
  width: 100%;
  font-size: 1rem;
  padding: 0.5rem;
  background-color: var(--text);
  color: var(--sub);
}

.navbar .search-form label {
  cursor: pointer;
  margin: 1rem;
}

.navbar .search-form label a {
  color: var(--text);
}

.navbar .search-form label a:hover {
  color: var(--primary);
}

/*SHOP-CART*/

.shop-cart {
  /*side-bar*/
  position: absolute;
  top: 100%;
  right: -100%;
  background-color: var(--text);
  width: 30rem;
  height: 100vh;
  transition: 0.3s;
  padding: 2rem;
}

.shop-cart .cart-item{
  margin: 2rem 0;
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  border-bottom: 1px dashed var(--sub);
  position: relative; /*digunakan agar posisi turunannya absolute*/
}

.shop-cart img{
  height: 6rem;
  border-radius: 50%;
}

.shop-cart h3{
  font-size: 1.4rem;
}

.shop-cart .item-price{
  font-size: 1rem;
}

.shop-cart .remove-item{
  position: absolute;
  right: 1rem;
  cursor: pointer;
}
.shop-cart .remove-item:hover{
  color: var(--primary);
  transition: 0.5s;
}

/*jika menemukan kelas active pada shop-cart, maka...*/
.shop-cart.active{
  right: 0;
}

/*HERO SECTION*/
.hero {
  min-height: 100vh;
  display: flex;
  align-items: center; /*jika horizon >> justify-content, jika vertical >> align-items*/
  background-image: url("../img/index-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}
.hero::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 30%;
  bottom: 0;
  background: linear-gradient(
    0deg,
    rgba(255, 215, 0, 1) 7%,
    rgba(225, 215, 0, 0) 70%
  );
}
.hero .content {
  padding: 1.4rem 7%;
  max-width: 50rem;
}
.hero .content h1 {
  font-size: 2em;
  color: black;
  text-shadow: 1px 1px 3px rgba(255, 99, 71, 0.5);
  line-height: 2;
}
.hero .content h1 span {
  font-size: 1.4em;
  color: var(--primary);
  text-shadow: 1px 1px 3px rgba(255, 99, 71, 0.5);
}
.hero .content p {
  font-size: 1.6rem;
  margin: 0;
  line-height: 1.56;
  font-weight: 300;
  color: rgba(255, 255, 240, 1);
  text-shadow: 1px 1px 1px black;
  mix-blend-mode: difference;
}
.hero .content .cta {
  margin-top: 2rem;
  display: inline-block;
  padding: 1rem 3rem;
  font-size: 1.4rem;
  font-weight: 600;
  color: white;
  background-color: var(--primary);
  border-radius: 0.7rem;
  box-shadow: 1px 1px 3px rgba(255, 99, 71, 0.5);
}

.hero .content .cta:hover {
  background-color: var(--secondary);
  transition: 0.5s;
}

/*ABOUT SECTION*/
.about,
.produk,
.store,
.kontak {
  padding: 8rem 7% 1.2rem;
}
.about h2,
.produk h2,
.store h2,
.kontak h2 {
  text-align: center;
  font-size: 2.4rem;
  margin-bottom: 3rem;
}
.about .row {
  display: flex;
}
.about .row .about-img {
  flex: 1 1 45rem; /*flex grow(pertumbuhan), flex shrink(penyusutan), flex basis(ukuran)*/
}
.about .row .about-img img {
  width: 100%;
  padding-bottom: 0;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.about .row .content-about {
  flex: 1 1 35rem;
  padding: 0 1rem;
}
.about .row .content-about h3 {
  font-size: 1.6rem;
  margin-bottom: 1rem;
}
.about .row .content-about p {
  font-weight: 400;
  margin: 1.4rem 0;
  line-height: 1.5rem;
  font-size: 1rem;
}

.about .row .content-about p span{
  font-weight: 600;
}

/*PRODUK SECTION*/
.produk {
  padding-bottom: 3rem;
  background: linear-gradient(
    to bottom,
    rgba(255, 215, 0, 0),
    rgba(255, 150, 0, 1),
    rgba(255, 150, 0, 1),
    rgba(255, 150, 0, 1)
  );
}
.produk .row {
  display: flex;
  flex-wrap: wrap;
  margin-top: 1rem;
  justify-content: center;
}

.produk p {
  font-weight: 400;
  margin: 2rem 0;
  line-height: 1.7rem;
  font-size: 1.2rem;
}

.produk p span{
  font-weight: 600;
}

.produk .row .menu-card {
  text-align: center;
  padding: 1rem 0;
  margin-top:1rem;
}
.produk .row .menu-card img {
  border-radius: 50%;
  width: 50%;
}
.produk .row .menu-card .name {
  font-weight: 700;
  margin-top: 1rem;
}
.produk .row .menu-card .name span {
  font-weight: 400;
}
.produk .row .menu-card .detail {
  margin: 2rem 0 1rem 0;
}
.produk .row .menu-card .detail a {
  text-decoration: none;
  border-radius: 30px;
  color: white;
  font-weight: 700;
  padding: 1rem 1rem;
  background-color: var(--primary);
}
.produk .row .menu-card .detail a:hover {
  background-color: var(--secondary);
  transition: 0.5s;
}

/*MODAL BOX PRODUK*/
.modalbox-produk{
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 9999;
  align-items: center;
  padding: 0 10%;
  display: none;
  overflow: auto;
  position: fixed;
  background-color: rgba(64, 224, 208,0.7);
}

.modalbox-produk.active{
  display: flex;
} 

 /*untuk area konten modal box*/
.modalbox-produk .modal-container{
  background-color: var(--text);
  padding: 2rem;
  border: 1px solid var(--sub);
  position: relative;
  justify-content: center;
  align-items: center;
}

.modalbox-produk .close-icon-produk{
  position: absolute;
  right: 2rem;
  top: 2rem;
  color: var(--sub);
}

.modalbox-produk .detail-produk{
  display: flex;
  justify-content: space-between;
  text-align: left;
  max-width: 100%;
}

.modalbox-produk .detail-produk .produk-kiri{
  max-width: 50%;
}

.modalbox-produk .detail-produk .produk-kiri img{
  width: 100%;
  padding: 1rem;
}

.modalbox-produk .detail-produk .produk-kanan{
  max-width: 50%;
  padding: 1rem;
}

.modalbox-produk .detail-produk h3{
  margin-bottom: 1rem;
  font-size: 1.6rem;
  display: flex;
  justify-content: space-between;
}

.modalbox-produk .border-gizi{
  border: 1px solid black;
  max-width: 80%;
  margin: 1rem 0;
  padding: 1rem;
}

.modalbox-produk .detail-produk p{
  line-height: 2rem;
  padding: 1rem 0;
  align-items: baseline
}

.modalbox-produk .modal-deskripsi{
  border-top: 1px dashed black;
}

.modalbox-produk .modal-deskripsi h4{
  padding: 1rem 0;
}

.modalbox-produk .modal-deskripsi p{
  line-height: 2rem;
}

/*STORE SECTION*/ /*Bisa menggunakan flex, namun ini dengan grid*/
.store{
  background-color: var(--text);
}

.store p{
  font-size: 1.2rem;
  line-height: 1.5rem;
}

.store p span{
  font-weight: 600;
}

.store .store-view{
  margin-top: 5rem;
  width: 100%;
  aspect-ratio: 2/1;
  overflow-x: hidden;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  scroll-padding-bottom: 20px;
  padding: 5%;
}

.store .store-view .row{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr)); /*jika < 30rem, jadi 2 kolom.. jika >30, buat semuatnya (autofit)*/
  gap: 3rem 1.5rem; /*jarak antar produk*/
  margin: 2rem 0;
}

.store .store-card{
  text-align: center;
  background: linear-gradient(
    to bottom,
    rgba(255, 150, 0, 1),
    rgba(255, 215, 0, 1),
    rgba(255, 215, 0, 1)
  );
  padding: 0 4rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.store .store-card h3{
  padding-top: 1rem;
}

.store .store-card h4{
  padding-bottom: 1rem;

}

.store .store-img{
  padding: 0 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.store .store-img img{
  height: 15rem;
}

.store .store-card .star{
  padding: 1rem;
}

.store .store-card .star .starfill{
  color: var(--primary);
  fill: var(--primary);
}

.store .store-price{
  font-weight: bold;
  font-size: 1.3rem;
}

.store .store-price span{
  font-weight: lighter;
  color: var(--primary);
  font-size: 1rem;
  text-decoration: line-through;
  text-decoration-thickness: 1px;
}

.store .store-icons{
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  margin: 2rem 0;
}

.store .store-icons a{
  width: 3rem;
  height: 3rem;
  color: white;
  margin: 0 1rem;
  background-color: var(--primary);
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  display: flex; /*agar icon lebih ke tengah*/
  box-shadow: 2px 2px 10px var(--sub);
}

.store .store-icons a:hover{
  background-color: var(--secondary);
  transition: 0.5s;
}

/*MODAL BOX*/
.box-modal{ /*untuk bg cover full*/
  background-color: rgba(64, 224, 208,0.7);
  padding: 10%;
  width: 100%;
  height: 100%;
  display: flex;
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  overflow: auto;
  display: none;
}

.box-modal.active{
  display: flex;
}

/*untuk area konten modal box*/
.box-modal .modal-container{ 
  background-color: var(--text);
  padding-top: 1rem;
  border: 1px solid var(--sub);
  position: relative;
  justify-content: center;
  align-items: center;
}

.box-modal .modal-area{
  display: flex;
  padding: 2rem;
  justify-content: space-between;
  align-items: center;
}

.box-modal .close-icon-store{
  position: absolute;
  right: 1rem;
  color: var(--sub);
}

.box-modal .modal-area img{
  border-radius: 40px;
  width: 30%;
  height: 30%;
}

.box-modal .modal-area .modal-produk{
  padding: 2rem;
}

.box-modal .modal-area h3{
  margin-bottom: 1rem;
  font-size: 1.6rem;
}

.box-modal .modal-area p{
  margin: 0.5rem 0;
  line-height: 1.8rem;
}

.box-modal .modal-area .star .starfill{
  fill: var(--bg);
  color: var(--bg);
}

.box-modal .modal-area .modal-price{
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  font-size: 1.4rem;
  font-weight: bold;
}

.box-modal .modal-area .modal-price span{
  font-size: 1rem;
  color: var(--primary);
  text-decoration: line-through;
}

.box-modal .modal-area a{
  background-color: var(--primary);
  color: var(--text);
  font-weight: bold;
  padding: 1rem;
  border-radius: 5px;
  text-align: center;
}

.box-modal .modal-area a:hover{
  background-color: var(--secondary);
  transition: 0.5s;
}

.box-modal .modal-area a span{
  padding: 1rem;
}

.box-modal .modal-area a .modal-cart{
  align-items: center;
  justify-content: center;
  top: 0.4rem;
  position: relative;
}

/*KONTAK SECTION*/

.kontak {
  margin-bottom: 4rem;
  background: linear-gradient(
    to bottom,
    rgba(255, 150, 0, 1),
    rgba(255, 215, 0, 1)
  );
}

.kontak p span{
  font-weight: bold;
}

.kontak .row {
  display: flex;
  margin-top: 2rem;
  border-radius: 5px;
  background-color: rgb(240 230 140);
  box-shadow: 0 3px 3px rgba(5, 5, 5, 0.2);
}
.kontak .row .map {
  flex: 1 1 45rem;
  width: 100%;
  object-fit: cover;
  margin: 1rem;
  box-shadow: 0 3px 3px rgba(5, 5, 5, 0.2);
  height: 25rem;
}
.kontak .row form {
  flex: 1 1 45rem;
  padding: 5rem 2 rem;
  text-align: center;
  margin: 1rem;
}
.kontak .row form .input-group {
  display: flex;
  align-items: center;
  margin-top: 2rem;
  border: 1px solid rgba(100, 100, 100, 0.5);
  padding-left: 2rem;
  background-color: rgba(255, 255, 240, 1);
  border-radius: 10px;
}
.kontak .row form .input-group input {
  width: 100%;
  padding: 1.4rem;
  font-size: 1rem;
  background: none;
}
.kontak .row form .btn {
  display: inline-block;
  border-radius: 5px;
  margin-top: 2rem;
  padding: 1rem 3rem;
  font-size: 1.2rem;
  color: white;
  background-color: var(--primary);
  cursor: pointer;
}

.kontak .row form .btn:hover {
  background-color: var(--secondary);
  transition: 0.5s;
}

/*FOOTER*/
footer {
  background-color: var(--primary);
  text-align: center;
  padding: 1.4rem;
  margin-top: 1rem;
}
footer .socials {
  color: white;
  padding: 0 2rem;
}
footer .socials a {
  color: white;
  margin: 0 0.7rem;
}
footer .socials a:hover {
  color: var(--bg);
}
footer .links {
  color: white;
  padding: 1rem;
}
footer .links a {
  color: white;
  font-weight: 400;
  padding: 0 0.5rem;
}
footer .links a:hover {
  color: var(--bg);
}
footer .credit {
  color: white;
}
footer .credit a {
  color: white;
  font-weight: 700;
}
footer .credit a:hover {
  color: var(--bg);
}

/*MEDIA QUERY*/
/*Tablet*/
@media (min-width: 768px) and (max-width: 1260px) {
  html {
    font-size: 83%;
  }
  #ham-menu {
    display: inline-block;
  }

  .navbar{
    padding: 1rem 7%;
  }

  .navbar .navbar-nav {
    /*side-bar*/
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: var(--text);
    width: 30rem;
    height: 100vh;
    transition: 0.3s;
  }

  .navbar .navbar-nav a {
    color: var(--sub);
    display: block;
    font-size: 1.6rem;
    margin-left: 1.4rem;
    padding: 2rem;
  } 

  .navbar .navbar-nav a::after {
    transform-origin: 0 0;
  }

  .navbar .navbar-nav a:hover::after {
    transform: scaleX(0.3);
  }

  .navbar .navbar-nav.active {
    right: 0;
  }

  .about .row {
    flex-wrap: wrap;
  }

  .about .row .about-img img {
    height: 40rem;
    object-fit: cover; /*agar ketika di tarik objek tetap simetris*/
  }

  .about .row .content-about h3{
    margin-top: 2rem;
  }

  .produk .row .menu-card {
    max-width: 50%;
    max-height: 50%;
  }

  .kontak .row {
    flex-wrap: wrap;
  }

  .kontak .row .map {
    height: 45rem;
  }

  .navbar .search-form {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: rgba(51, 51, 51, 0.9);
    height: 4rem;
    width: 100%;
    display: flex;
    padding: 0.5rem;
  }

  .navbar .search-form input {
    height: 100%;
    width: 100%;
    font-size: 1.4rem;
    padding: 0.5rem;
    background-color: var(--text);
    color: var(--sub);
  }

  .navbar .search-form label {
    cursor: pointer;
    margin: 1rem;
    color: var(--text);
  }

  .store .store-view{
    padding: 3%;
    aspect-ratio: 4/3;
  }
  
  .store .store-view .row{
    grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
  }
  
  .store .store-img img{
    height: 15rem;
  }

  /*Modal Box Tablet*/
  .box-modal{ /*untuk bg cover full*/  
    padding: 15% 5rem;
  }

  .modalbox-produk{
    padding: 3%
  }

  .modalbox-produk .border-gizi{
    border: 1px solid black;
    max-width: 80%;
    margin: 1rem 0;
    padding: 1rem;
  }
}



/*Smartphone*/
@media (max-width: 767px) {
  html {
    font-size: 65%;
  }
  #ham-menu {
    display: inline-block;
  }

  .navbar{
    padding: 1rem 7%;
  }

  .navbar .navbar-nav {
    /*side-bar*/
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: var(--text);
    width: 30rem;
    height: 100vh;
    transition: 0.3s;
  }

  .navbar .navbar-nav a {
    color: var(--sub);
    display: block;
    font-size: 1.4rem;
    margin-left: 1.4rem;
    padding: 2rem;
  }

  .navbar .navbar-nav a::after {
    transform-origin: 0 0;
  }

  .navbar .navbar-nav a:hover::after {
    transform: scaleX(0.3);
  }

  .navbar .navbar-nav.active {
    right: 0;
  }

  .about .row {
    flex-wrap: wrap;
  }

  .about .row .about-img img {
    height: 24rem;
    object-fit: cover; /*agar ketika di tarik objek tetap simetris*/
  }

  .about .row .content-about h3{
    margin-top: 2rem;
  }

  .produk .row .menu-card {
    max-width: 50%;
    max-height: 50%;
  }

  .kontak .row {
    flex-wrap: wrap;
  }

  .kontak .row .map {
    height: 20rem;
  }

  .navbar .search-form {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: rgba(51, 51, 51, 0.9);
    height: 4rem;
    width: 100%;
    display: flex;
    padding: 0.5rem;
  }

  .navbar .search-form input {
    height: 100%;
    width: 100%;
    font-size: 1.6rem;
    padding: 0.5rem;
    background-color: var(--text);
    color: var(--sub);
  }

  .navbar .search-form label {
    cursor: pointer;
    margin: 1rem;
    color: var(--text);
  }

  .store .store-view{
    padding: 15%;
    aspect-ratio: 2/3;
  }

  .store .store-view .row{
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  }
  
  .store .store-img img{
    height: 20rem;
  }

  .store .store-icons a{
    color: white;
    margin: 0 1rem;
    padding: 0.8rem;
  }

  /*Modal Box Smartphone*/
  .box-modal{ /*untuk bg cover full*/  
    padding: 10%;
  }

  .box-modal .modal-area{
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  .box-modal .modal-area img{
    width: 30%;
  }
  /*MODAL BOX PRODUK*/
  
  /*untuk area konten modal box*/
  .modalbox-produk .modal-container{
    padding: 3%;
  }
  
  .modalbox-produk .detail-produk{
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
  }
  
  .modalbox-produk .detail-produk .produk-kiri{
    max-width: 100%;
  }
  
  .modalbox-produk .detail-produk .produk-kiri img{
    width: 50%;
    border-radius: 15px;
  }
  
  .modalbox-produk .detail-produk .produk-kanan{
    text-align: left;
    max-width: 100%;
  }
  
  .modalbox-produk .border-gizi{
    max-width: 100%;
  }
}
