:root {
  /*berfngsi membuat var di css*/
  --primary: rgba(255, 69, 0, 1);
  --bg: rgba(255, 215, 0, 1);
  --sub: rgba(51, 51, 51, 1);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--bg);
  color: black;
  min-height: 2000px;

}

/*NAVBAR*/
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0rem 7%; /* 1 rem = 16px*/
  background-color: rgba(51, 51, 51, 0.8);
  border-bottom: 1px solid rgba(51, 51, 51, 1);
  position: fixed; /*agar navbar tidak berpindah posisi*/
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999; /*agar tidak tertimpa yang lain*/
}

.navbar .navbar-logo {
  font-size: 2rem;
  font-weight: bold;
  color: rgba(255, 255, 240, 1);
}

.navbar .navbar-logo span {
  color: var(--primary);
} 

.navbar .navbar-nav a {
  color: rgba(255, 255, 240, 1);
  display: inline-block;
  font-size: 1rem;
  margin: 0.5rem;
  padding: 1.4rem;
}

.navbar .navbar-nav a:hover {
  font-weight: bold;
  color: var(--primary);
  transform: scale(1.1);
  transition: 0.3s;
}

.navbar .navbar-nav a::after {
  content: "";
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 0.2rem solid var(--primary);
  transform: scaleX(0); /*nilai 0 agar tidak tampil terlebih dahulu*/
}

.navbar .navbar-nav a:hover::after {
  transform: scaleX(0.5);
  transition: 0.7s linear;
}

.navbar .navbar-extra a {
  color: rgba(255, 255, 240, 1);
  margin: 0 0.5rem;
}

.navbar .navbar-extra a:hover {
  color: var(--primary);
  transition: 0.9s;
}

#ham-menu {
  display: none;
}

/*Hero Section*/
.hero{
  min-height: 100vh;
  display: flex;
  align-items: center; /*jika horizon >> justify-content, jika vertical >> align-items*/
  background-image: url('../img/index-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

.hero::after{
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 30%;
  bottom: 0;
  background: linear-gradient(0deg, rgba(255, 215, 0, 1)7%, rgba(225, 215, 0, 0) 70%);
}

.hero .content {
  padding: 1.4rem 7%;
  max-width: 50rem;
}

.hero .content h1{
  font-size: 2em;
  color: black;
  text-shadow: 1px 1px 3px rgba(255, 99, 71, 0.5);
  line-height: 2;
}

.hero .content h1 span{
  font-size: 1.4em;
  color: var(--primary);
  text-shadow: 1px 1px 3px rgba(255, 99, 71, 0.5);
}

.hero .content p{
  font-size: 1.6rem;
  margin: 0;
  line-height: 1.56;
  font-weight: 300;
  color: rgba(255, 255, 240, 1);
  text-shadow: 1px 1px 2px var(--sub);
  mix-blend-mode: difference;
}

.hero .content .cta{
  margin-top: 2rem;
  display: inline-block;
  padding: 1rem 3rem;
  font-size: 1.4rem;
  color: white;
  background-color: var(--primary);
  border-radius: 0.7rem;
  box-shadow: 1px 1px 3px rgba(255, 99, 71, 0.5) ;
}


/*Media Queries*/
/*Tablet*/
@media (min-width: 768px) and (max-width: 1024px) {
    html {
        font-size: 65%;
      }
      #ham-menu {
        display: inline-block;
      }

      .navbar .navbar-nav { /*side-bar*/
        position: absolute;
        top: 100%;
        right: -100%;
        background-color: white;
        width: 30rem;
        height: 100vh;
        transition: 0.3s;
      }

      .navbar .navbar-nav a{
        color: var(--sub);
        display: block;
        font-size: 1.6rem;
        margin-left: 1.4rem;
        padding: 2rem;
      }

      .navbar .navbar-nav a::after{
        transform-origin: 0 0;
      }

      .navbar .navbar-nav a:hover::after{
        transform: scaleX(0.3);
      }
      
      .navbar .navbar-nav.active{
        right: 0;
      }
}

/*Smartphone*/
@media (max-width: 767px) {
    html {
        font-size: 55%;
      }
      #ham-menu {
        display: inline-block;
      }

      .navbar .navbar-nav { /*side-bar*/
        position: absolute;
        top: 100%;
        right: -100%;
        background-color: white;
        width: 30rem;
        height: 100vh;
        transition: 0.3s;
      }

      .navbar .navbar-nav a{
        color: var(--sub);
        display: block;
        font-size: 1.4rem;
        margin-left: 1.4rem;
        padding: 2rem;
      }

      .navbar .navbar-nav a::after{
        transform-origin: 0 0;
      }

      .navbar .navbar-nav a:hover::after{
        transform: scaleX(0.3);
      }
      
      .navbar .navbar-nav.active{
        right: 0;
      }
}
