:root {
  /*berfngsi membuat var di css*/
  --primary: rgba(255, 69, 0, 1);
  --secondary: rgba(255, 0, 0, 1);
  --bg: rgba(255, 215, 0, 1);
  --sub: rgba(51, 51, 51, 1);
  --text: rgba(255, 255, 240, 1);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Poppins", sans-serif;
  background-color: var(--bg);
  color: black;
}

/*NAVBAR*/
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.2rem 7%; /* 1 rem = 16px*/
  background-color: rgba(51, 51, 51, 0.9);
  border-bottom: 1px solid rgba(51, 51, 51, 1);
  position: fixed; /*agar navbar tidak berpindah posisi*/
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999; /*agar tidak tertimpa yang lain*/
}
.navbar .navbar-logo {
  font-size: 2rem;
  font-weight: bold;
  color: var(--text);
}
.navbar .navbar-logo span {
  color: var(--primary);
}
.navbar .navbar-nav a {
  color: rgba(255, 255, 240, 1);
  display: inline-block;
  font-size: 1rem;
  margin: 0.5rem;
  padding: 1.4rem;
}
.navbar .navbar-nav a:hover {
  font-weight: bold;
  color: var(--primary);
  transform: scale(1.1);
  transition: 0.3s;
}
.navbar .navbar-nav a::after {
  content: "";
  display: block;
  padding-bottom: 0;
  border-bottom: 0.2rem solid var(--primary);
  transform: scaleX(0); /*nilai 0 agar tidak tampil terlebih dahulu*/
}
.navbar .navbar-nav a:hover::after {
  transform: scaleX(0.5);
  transition: 0.7s linear;
}
.navbar .navbar-extra a {
  color: rgba(255, 255, 240, 1);
  margin: 0 0.5rem;
}
.navbar .navbar-extra a:hover {
  color: var(--primary);
  transition: 0.9s;
}
#ham-menu {
  display: none;
}

/*Navbar Search*/
.navbar .search-form {
  position: absolute;
  top: 100%;
  right: 7%;
  background-color: var(--sub);
  padding: 0.5rem;
  height: 3.4rem;
  width: 30rem;
  display: flex;
  align-items: center;
  /*animasi set search*/
  transform: scaleY(0); /*no scale Y*/
  transform-origin: top; /*animasi origin top, untuk posisi dimulai dari atas*/
}

#search {
}

.navbar .search-form.active {
  transform: scaleY(1);
}

.navbar .search-form input {
  height: 100%;
  width: 100%;
  font-size: 1rem;
  padding: 0.5rem;
  background-color: var(--text);
  color: var(--sub);
}

.navbar .search-form label {
  cursor: pointer;
  margin: 1rem;
}

.navbar .search-form label a {
  color: var(--text);
}

.navbar .search-form label a:hover {
  color: var(--primary);
}

/*HERO SECTION*/
.hero {
  min-height: 100vh;
  display: flex;
  align-items: center; /*jika horizon >> justify-content, jika vertical >> align-items*/
  background-image: url("../img/index-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}
.hero::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 30%;
  bottom: 0;
  background: linear-gradient(
    0deg,
    rgba(255, 215, 0, 1) 7%,
    rgba(225, 215, 0, 0) 70%
  );
}
.hero .content {
  padding: 1.4rem 7%;
  max-width: 50rem;
}
.hero .content h1 {
  font-size: 2em;
  color: black;
  text-shadow: 1px 1px 3px rgba(255, 99, 71, 0.5);
  line-height: 2;
}
.hero .content h1 span {
  font-size: 1.4em;
  color: var(--primary);
  text-shadow: 1px 1px 3px rgba(255, 99, 71, 0.5);
}
.hero .content p {
  font-size: 1.6rem;
  margin: 0;
  line-height: 1.56;
  font-weight: 300;
  color: rgba(255, 255, 240, 1);
  text-shadow: 1px 1px 1px black;
  mix-blend-mode: difference;
}
.hero .content .cta {
  margin-top: 2rem;
  display: inline-block;
  padding: 1rem 3rem;
  font-size: 1.4rem;
  color: white;
  background-color: var(--primary);
  border-radius: 0.7rem;
  box-shadow: 1px 1px 3px rgba(255, 99, 71, 0.5);
}

.hero .content .cta:hover {
  background-color: var(--secondary);
  transition: 0.5s;
}

/*ABOUT SECTION*/
.about,
.produk,
.kontak {
  padding: 8rem 7% 1.2rem;
}
.about h2,
.produk h2,
.kontak h2 {
  text-align: center;
  font-size: 2.4rem;
  margin-bottom: 3rem;
}
.about .row {
  display: flex;
}
.about .row .about-img {
  flex: 1 1 45rem; /*flex grow(pertumbuhan), flex shrink(penyusutan), flex basis(ukuran)*/
}
.about .row .about-img img {
  width: 100%;
  padding-bottom: 0;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.about .row .content-about {
  flex: 1 1 35rem;
  padding: 0 1rem;
}
.about .row .content-about h3 {
  font-size: 1.6rem;
  margin-bottom: 1rem;
}
.about .row .content-about p {
  font-weight: 400;
  margin-bottom: 1rem;
  line-height: 1.4;
  font-size: 1.2rem;
}

/*PRODUK SECTION*/
.produk {
  padding-bottom: 3rem;
  background: linear-gradient(
    to bottom,
    rgba(255, 215, 0, 0),
    rgba(255, 150, 0, 1),
    rgba(255, 150, 0, 1),
    rgba(255, 150, 0, 1)
  );
}
.produk .row {
  display: flex;
  flex-wrap: wrap;
  margin-top: 5rem;
  justify-content: center;
}
.produk .row .menu-card {
  background-color: rgb(240 230 140);
  text-align: center;
  padding: 2rem 0;
  margin: 0.15rem;
  box-shadow: 0 3px 3px rgba(5, 5, 5, 0.2);
  border-radius: 10px;
}
.produk .row .menu-card img {
  border-radius: 50%;
  width: 60%;
}
.produk .row .menu-card .name {
  font-weight: 700;
  margin-top: 2rem;
}
.produk .row .menu-card .name span {
  font-weight: 400;
}
.produk .row .menu-card .price {
  margin: 2rem 0 1rem 0;
}
.produk .row .menu-card .price a {
  text-decoration: none;
  border-radius: 10px;
  color: white;
  font-weight: 700;
  padding: 1rem 6rem;
  background-color: var(--primary);
}
.produk .row .menu-card .price a:hover {
  background-color: var(--secondary);
  transition: 0.5s;
}

/*KONTAK SECTION*/

.kontak {
  margin-bottom: 4rem;
  background: linear-gradient(
    to bottom,
    rgba(255, 150, 0, 1),
    rgba(255, 215, 0, 1)
  );
}
.kontak .row {
  display: flex;
  margin-top: 2rem;
  border-radius: 5px;
  background-color: rgb(240 230 140);
  box-shadow: 0 3px 3px rgba(5, 5, 5, 0.2);
}
.kontak .row .map {
  flex: 1 1 45rem;
  width: 100%;
  object-fit: cover;
  margin: 1rem;
  box-shadow: 0 3px 3px rgba(5, 5, 5, 0.2);
  height: 25rem;
}
.kontak .row form {
  flex: 1 1 45rem;
  padding: 5rem 2 rem;
  text-align: center;
  margin: 1rem;
}
.kontak .row form .input-group {
  display: flex;
  align-items: center;
  margin-top: 2rem;
  border: 1px solid rgba(100, 100, 100, 0.5);
  padding-left: 2rem;
  background-color: rgba(255, 255, 240, 1);
  border-radius: 10px;
}
.kontak .row form .input-group input {
  width: 100%;
  padding: 1.4rem;
  font-size: 1rem;
  background: none;
}
.kontak .row form .btn {
  display: inline-block;
  border-radius: 5px;
  margin-top: 2rem;
  padding: 1rem 3rem;
  font-size: 1.2rem;
  color: white;
  background-color: var(--primary);
  cursor: pointer;
}

.kontak .row form .btn:hover {
  background-color: var(--secondary);
  transition: 0.5s;
}

/*FOOTER*/
footer {
  background-color: var(--primary);
  text-align: center;
  padding: 1.4rem;
  margin-top: 1rem;
}
footer .socials {
  color: white;
  padding: 0 2rem;
}
footer .socials a {
  color: white;
  margin: 0 0.7rem;
}
footer .socials a:hover {
  color: var(--bg);
}
footer .links {
  color: white;
  padding: 1rem;
}
footer .links a {
  color: white;
  font-weight: 400;
  padding: 0 0.5rem;
}
footer .links a:hover {
  color: var(--bg);
}
footer .credit {
  color: white;
}
footer .credit a {
  color: white;
  font-weight: 700;
}
footer .credit a:hover {
  color: var(--bg);
}

/*MEDIA QUERY*/
/*Tablet*/
@media (min-width: 768px) and (max-width: 1024px) {
  html {
    font-size: 65%;
  }
  #ham-menu {
    display: inline-block;
  }

  .navbar .navbar-nav {
    /*side-bar*/
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: white;
    width: 30rem;
    height: 100vh;
    transition: 0.3s;
  }

  .navbar .navbar-nav a {
    color: var(--sub);
    display: block;
    font-size: 1.6rem;
    margin-left: 1.4rem;
    padding: 2rem;
  }

  .navbar .navbar-nav a::after {
    transform-origin: 0 0;
  }

  .navbar .navbar-nav a:hover::after {
    transform: scaleX(0.3);
  }

  .navbar .navbar-nav.active {
    right: 0;
  }

  .about .row {
    flex-wrap: wrap;
  }

  .about .row .about-img img {
    height: 40rem;
    object-fit: cover; /*agar ketika di tarik objek tetap simetris*/
  }

  .kontak .row {
    flex-wrap: wrap;
  }

  .kontak .row .map {
    height: 45rem;
  }

  .navbar .search-form {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: var(--sub);
    height: 4rem;
    width: 100%;
    display: flex;
    padding: 0.5rem;
  }

  .navbar .search-form input {
    height: 100%;
    width: 100%;
    font-size: 1.4rem;
    padding: 0.5rem;
    background-color: var(--text);
    color: var(--sub);
  }

  .navbar .search-form label {
    cursor: pointer;
    margin: 1rem;
    color: var(--text);
  }
}

/*Smartphone*/
@media (max-width: 767px) {
  html {
    font-size: 55%;
  }
  #ham-menu {
    display: inline-block;
  }

  .navbar .navbar-nav {
    /*side-bar*/
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: white;
    width: 30rem;
    height: 100vh;
    transition: 0.3s;
  }

  .navbar .navbar-nav a {
    color: var(--sub);
    display: block;
    font-size: 1.4rem;
    margin-left: 1.4rem;
    padding: 2rem;
  }

  .navbar .navbar-nav a::after {
    transform-origin: 0 0;
  }

  .navbar .navbar-nav a:hover::after {
    transform: scaleX(0.3);
  }

  .navbar .navbar-nav.active {
    right: 0;
  }

  .about .row {
    flex-wrap: wrap;
  }

  .about .row .about-img img {
    height: 24rem;
    object-fit: cover; /*agar ketika di tarik objek tetap simetris*/
  }

  .produk .row .menu-card {
    max-width: 80%;
    max-height: 80%;
  }

  .kontak .row {
    flex-wrap: wrap;
  }

  .kontak .row .map {
    height: 45rem;
  }

  .navbar .search-form {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: var(--sub);
    height: 4rem;
    width: 100%;
    display: flex;
    padding: 0.5rem;
  }

  .navbar .search-form input {
    height: 100%;
    width: 100%;
    font-size: 1.6rem;
    padding: 0.5rem;
    background-color: var(--text);
    color: var(--sub);
  }

  .navbar .search-form label {
    cursor: pointer;
    margin: 1rem;
    color: var(--text);
  }
}
